@import "variables";
@import "mixins";

.btn {
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    .spinner-border {
        position: relative;
        bottom: 1px;
        right: 3px;
    }

    &.btn-lg {
        .spinner-border {
            bottom: 4px;
            right: 7px;
        }
    }
}

.btn-secondary {
    font-weight: bold;
    background: #f0f6f7;
    border: 1px solid #D3D3D3;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: $muted;
        background: #f0f6f7;
        border: 1px solid #D3D3D3;
    }
}

.btn-text {
    font-size: 1rem;
    width: auto;
    border: none;
    height: auto;
}

.btn-sm {
    width: auto;
    padding: .3rem 1rem;
}

.button-wrapper {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;

    .btn-primary {
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        background-color: #C9E9B8;
        color: black;
        padding: 10px 50px 10px 50px;
        border-radius: 3px;

        &:hover {
            text-decoration: underline;
        }
    }
}
