$text: #333333;
$success: #28a745;

.order-status {
    &--for-completion {
        color: #ffc107;
    }

    &--cancelled, &--cancelled-2 {
        color: #dc3545;
    }

    &--waiting-for-payment {
        color: #007bff;
    }

    &--delivered {
        color: #28a745;
    }

    &--on-the-way {
        color: #17a2b8;
    }

    &--failed {
        color: #dc3545;
    }
}

.stock-status {
    &--sold-out {
        color: #dc3545 !important;
    }

    &--in-one-week {
        color: #007bff !important;
    }

    &--until-christmas {
        color: #28a745 !important;
    }

    &--not-available {
        color: #6c757d !important;
    }

    &--on-request {
        color: #007bff !important;
    }

    &--last-item {
        color: #dc3545 !important;
    }

    &--in-stock {
        color: #28a745 !important;
    }
}