.dropdown-item {
    &:active {
        background-color: black;
    }
}

.menu-item {
    position: relative;

    &:hover {
        #cart-quick-look {
            display: block;
            z-index: 99999 !important;
            position: absolute;
            top: 15px;
            padding-top: 38px;
            right: 0;
        }

        .cart-quick-look-content {
            background: white;
            z-index: 999;
            padding-bottom: .5rem;
        }
    }
}

#cart-quick-look {
   display: none;
    max-width: 100vh;
    width: 420px;
}

/* dropdown customization */
.dropdown-item {
    background: white !important;
}

