.container_radio {
    font-weight: bold;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $text;
}

.container_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark_radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
}


.container_radio:hover input ~ .checkmark_radio {
    background-color: white;
    border: 1px solid #ccc
}


.container_radio input:checked ~ .checkmark_radio {
    background-color: white;
    border: 1px solid #ccc
}


.checkmark_radio:after {
    content: "";
    position: absolute;
    display: none;
}


.container_radio input:checked ~ .checkmark_radio:after {
    display: block;
}


.container_radio .checkmark_radio:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $text;
}

.container-check {
    font-weight: bold;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $text;
}

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #ccc;
}

.container-check:hover input ~ .checkmark {
    background-color: white;
}

.container-check input:checked ~ .checkmark {
    background-color: white;
    border: 1px solid #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-check input:checked ~ .checkmark:after {
    display: block;
}

.container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $text;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-control--short {
    width: 12em !important;
}
