.nav-pills  {
    .nav-link {
        font-size: 14px;
    }

    .nav-link.active, .show>.nav-link {
        background: transparent;
        font-weight: bold;
        width: 195px;
        text-align: center;
        color: black;
    }

    a {
        color: black;

    }
}

.nav-item {
    &.disabled {
        pointer-events: none;
        opacity: .2;
    }
}

#login-nav {
    margin-top: 4rem;
}

header {
    .nav-link {
        padding: 0.3rem 0.5rem !important;
    }
}

/* Login Page styling*/
#login-nav {
    .nav-item {

        .nav-link {
            color: black;
            height: 50px;
            min-width: 250px;
            text-align: center;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $secondary;
        }
    }

    .nav-item {
        .active{
            background: #f0f6f7 !important;
            border: 1px solid #D3D3D3 !important;
            color: $muted !important;
            text-decoration: underline !important;
        }
    }


}

#login-login {
    .forgot-password {
        margin-top: -57px;
        display: block;
        text-align: right;
        font-weight: bold;
    }
    margin-bottom: 120px;
}

$breakpoint-350: 350px;
@media (max-width: $breakpoint-350) {
  #login-login {
    .forgot-password {
      text-align: left;
        margin-top: 5px;
    }
  }
}
