// Homepage SLider
.slider_picture {
    position: relative;
    img {
       width: 100%;
    }
    .slides-content {
        position: absolute;
        /*z-index: 999 !important;*/
        bottom: 40%;
        left: 10%;
        .slides-content-header-1 {
            font-size: 2.4rem;
            font-weight: bold;
            margin-bottom: 15px;
            color: black;
            h1 {
                font-size: 2.4rem !important;
                font-weight: bold !important;
                font-family: 'Raleway', sans-serif !important;
            }
        }
        .slides-content-header-2 {
            font-size: 1.7rem;
            font-weight: bold;
            color: black;
            margin-bottom: 15px;
        }
        .slides-content-text {
            font-size: 1.4rem;
            font-weight: bold;
            color: black;
        }
        .slider-content-button {
            margin-top: 5%;
            a {
                padding: 12px 20px;
                border: none;
                border-radius: 2px;
                font-size: 1.6rem;
            }
        }
    }
}

.remove-padding {
    padding: 0;
    overflow: hidden;
}

.slides {
    outline: none;
}

.slider {
    max-height: 800px;
    position: relative;
    z-index: 99 !important;
}

.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    top: 95%;
    right: 48.7%;

    li {
        margin: 0 0.5rem;
        list-style-type: none;
    }
    li button {
        display: block;
        width: 17px;
        height: 17px;
        padding: 0;
        border-radius: 100%;

        border: 5px solid #F0F6F7;

        background: transparent !important;
        color: transparent !important;
    }
}

.slick-dots li button:focus {
    outline: 0;
}

.slick-dots .slick-active button {
    background: #F0F6F7 !important;
    color: transparent;
}

$breakpoint-tablet-3: 1200px;
$breakpoint-tablet-4: 1100px;
$breakpoint-tablet-5: 980px;
$breakpoint-tablet-6: 860px;
$breakpoint-tablet-7: 727px;
$breakpoint-tablet-8: 575px;
@media (max-width: $breakpoint-tablet-3) {
    .slick-dots {
        right: 42.7%;
    }
    .slider_picture {
        .slides-content {
            bottom: 28%;
            right: 5%;
        }
    }
}

@media (max-width: $breakpoint-tablet-4) {
    .slider_picture {
        .slides-content {
            bottom: 20%;
        }
    }
}

@media (max-width: $breakpoint-tablet-5) {
    .slider_picture {
        .slides-content {
            bottom: 10%;
        }
    }
}

@media (max-width: $breakpoint-tablet-6) {
    .slider_picture {
        .slides-content {
            bottom: 10%;
        }
    }

    .slider_picture {
        .slides-content {
            .slides-content-header-1 {
                font-size: 1.8rem;
            }

            .slides-content-header-2 {
                font-size: 1.4rem;
            }

            .slides-content-text {
                font-size: 1.2rem;
            }

            .slider-content-button {
                a {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-tablet-7) {
    .slider_picture {
        height: 500px;
        img {
            min-width: 200%;
        }
    }
}

@media (max-width: $breakpoint-tablet-8) {
    .slider_picture {
        img {
            min-width: 240%;
        }
    }
    .slick-dots {
        right: 38.7%;
    }
}

$breakpoint-mobile-3: 475px;
$breakpoint-mobile-4: 440px;
$breakpoint-mobile-5: 400px;
$breakpoint-mobile-6: 350px;
@media (max-width: $breakpoint-mobile-3) {
    .slider_picture {
        img {
            min-width: 260%;
        }
    }
}

@media (max-width: $breakpoint-mobile-4) {
    .slider_picture {
        img {
            min-width: 300%;
        }
    }
}

@media (max-width: $breakpoint-mobile-5) {
    .slider_picture {
        img {
            min-width: 320%;
        }
    }
}

@media (max-width: $breakpoint-mobile-6) {
    .slider_picture {
        img {
            min-width: 360%;
        }
    }
}