//Colors
$primary: #C9E9B8;
$secondary: #f0f6f7;
$border-radius: 1px;
$muted: #68686e;

//Inputs
$input-border-radius-lg: 1px;
$input-border-radius: 1px;
$input-border-radius-sm: 1px;

//Buttons
$btn-font-weight: 600;
$btn-border-radius: 1px;
$btn-border-radius-lg: 1px;

//Modal
$modal-content-border-radius: 1px;