#about-frusack-header-container {
  min-height: 540px;
}

.about-frusack-text-1 {
  text-align: center;

  margin-top: 80px;
  margin-bottom: 35px;
  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
  }
}

.about-frusack-text-2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 80px;
}

/* Content Area */

.about-content-header {
  margin-left: 7%;
  margin-right: 3%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.about-content {
  margin-left: 19%;               /* 14% */
  border-top: 2px solid #F0F6F7; /*#F0F6F7 */
}

.about-content-button {
  background: none;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  padding-top: 15px;
  padding-bottom: 15px;
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
  }
}
.about-content-button h2:before {
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 1.6rem;
  content: "+";
  padding-right: 30px;
}

.about-content-button:focus {
  outline: none;
}

.active-button {
  color: #C9E9B8 !important;
}

.active-button h2:before {
  content: "–";
  padding-left: 3px;

}

.about-content-article {
  margin-right: 8%;
  margin-bottom: 200px !important;
}

/* modification of the About  (with picture on top and text inside of it cahnge on a button click) */
.about-content-picture-wrapper {
  position: relative;
  .about-content-text {
    .about-content-text-in1 {
      position: absolute;
      bottom: 15%;
      left: 21%;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-size: 2.2rem;
    }
    .about-content-text-in2 {
      position: absolute;
      bottom: 3%;
      right: 12%;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

$breakpoint-tablet-9: 1500px;
$breakpoint-tablet-10: 1300px;
$breakpoint-tablet-11: 1200px;
$breakpoint-tablet-12: 1100px;
@media (max-width: $breakpoint-tablet-9) {
  .about-content-picture-wrapper {
    .about-content-text {
      .about-content-text-in1 {
        bottom: 17%;
        left: 18%;
        font-size: 2.0rem;
      }
      .about-content-text-in2 {
        bottom: 3%;
        right: 12%;
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet-10) {
  .about-content-picture-wrapper {
    .about-content-text {
      .about-content-text-in1 {
        left: 14%;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet-11) {
  .about-content-picture-wrapper {
    .about-content-text {
      .about-content-text-in1 {
        left: 10%;
        font-size: 1.8rem;
      }
      .about-content-text-in2 {
        bottom: 1%;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet-12) {
  .about-content-picture-wrapper {
    .about-content-text {
      .about-content-text-in1 {
        left: 5%;
        font-size: 1.8rem;
      }
    }
  }
}

$breakpoint-phone-13: 900px;
$breakpoint-phone-14: 800px;
$breakpoint-phone-15: 700px;

@media (max-width: $breakpoint-phone-13) {
  .about-content-picture-wrapper {
    min-height: 300px;
  img {
    height: 100%;
    width: 100%;
  }
    .about-content-text {
      .about-content-text-in1 {
        left: 0%;
        bottom: 35%;
        font-size: 1.6rem;
      }
      .about-content-text-in2 {
        bottom: 8%;
        font-size: 1.3rem;
      }
    }
  }
}


@media (max-width: $breakpoint-phone-14) {
  .about-content-picture-wrapper {
    min-height: 300px;
    img {
      min-width: 260%;
    }
  }
}

$breakpoint-phone-18: 400px;
$breakpoint-phone-19: 320px;
@media (max-width: $breakpoint-phone-18) {
  .about-content-picture-wrapper {
    img {
      min-width: 350%;
    }
  }
}

.about-content-header {
  margin-top: 70px;
  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
  }
}


/* Content inside of the Widget styling */
/* 1 */
.about-content-header-inall {
  background: #F6FAFA;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  .about-content-header-in1 {
    color: #68686E;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 15px;
  }
}

.about-content-header-inall2 {
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  .about-content-header-in2 {
    color: #85c9d0;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
  .about-content-header-in3 {
    color: #ffa574;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 3px;
    margin-top: 12px;
  }
}

.about-content-header-inall-modified {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;

  .about-content-header-in1 {
    color: #68686E;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 15px;
  }
}

.about-content-header-in4 {
  font-weight: bold;
  a {
    text-decoration: underline;
    color: #ffa574;
  }
  a:hover {
    cursor: pointer;
  }
}