.thumbnail-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;

    &.has-background-image {
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,.5);
        height: 260px;
        min-height: 260px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,.3);
        }
    }
}

.order-row__detail {
    a {
        color: black;
    }
}

.table-responsive {
    tbody {
        display: table;
        width: 100%;
    }
}

#checkout-summary {
    span {
        display: block;
    }

    #cart-content-table {
    }
}

#cart-content {
    #cart-content-table {
        font-size: 14px;
    }
}



@media screen and (max-width: 991px) {
    #cart .nav-pills .nav-item {
        height: 50px;
        min-width: auto;
        text-align: center;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.33%;
    }
}

@media screen and (max-width: 767px) {
    .order_summary .col-md {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #order_detail p {
        text-align: left;
    }
    .table-responsive {
        tbody {
            display: block;
            width: auto;
        }
    }
}

@media screen and (max-width: 500px) {

    #cart .order_summary .final_text_order p {
        font-size: 20px;
    }
    #cart .order_summary .final_price_order {
        font-size: 20px;
    }


    #cart .nav-pills .nav-item {
        height: 50px;
        min-width: auto;
        text-align: center;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 35px;
        margin-bottom: 20px;
        border: 1px solid black;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    #cart .nav-pills .nav-item .nav-link.active {
        border-radius: 35px;
    }
    #cart .btn-secondary {
        width: 100%;
    }
    #cart .btn-secondary {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Obchod Page custom styling of products */
#frusack-product-list {
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 2.1rem;
    }
    .product-item__purchas {
        .product-colors {
            width: 50%;
        }
    }
    .DuoModified {
        width: 20px;
        img {
            margin-top: 14px;
        }
    }

    .TrioModified {
        width: 58px; /*95px*/
        img {
            margin-top: 14px;
        }
    }

    .product-details__label {
        width: 70px;
        input {
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            color: black;
            background: #f0f6f7;
            border: none;
        }
    }

    .product-purchase {
        width: 100% !important;
        position: relative;
        z-index: 99 !important;
        .product-details__label-wrap {
            width: 70px;
            display: inline-block;
        }
        .product-details__button-wrap {
            display: inline-block;
        }
    }

    .add-to-cart-form {
        float: right;
        margin-right: 30px;
    }

    .product-item__title {
        margin-top: 15px !important;
    }

    .card__wrap {
        margin-bottom: 40px;
    }

    .product-item__image {
        display: flex;
        img {
            margin: auto;
        }
    }

    .form-inline {
        border-bottom: 2px solid #f0f6f7;
        padding-bottom: 5px;
        .categories-test {
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 1.4rem;
            .active-link {
                color: #C9E9B8 !important;
            }
            a {
                &:hover {
                    text-decoration: none;
                }
                padding-left: 25px;
            }
        }
    }
}

.modal-content {
    .add-to-cart-form {
        float: left !important;
        width: 100%;
        margin-top: 20px;
    }
    .product-colors {
        img {
            margin: auto !important;
        }
    }
    .produc-amount {
        color: #68686e;
        font-weight: bold;
        font-size: 1.1rem;
    }
}

.modal-button {
    border: none;
    background: none;
    padding: 0;
    width: 100%;
}

.modal-button:hover {
    cursor: pointer;
}

.modal-button:focus {
    outline: none;
}

.modal-dialog {
    .TrioModified {
        img {
            width: 58px !important;
        }
    }
}


/* Responsivnes in OBCHOD product display */
@media screen and (max-width: 767px) {
    #frusack-product-list {
        .product-purchase {
                .add-to-cart-form {
                    .product-details__label {
                        width: 50px;
                    }
                    .btn-custom-white {
                        font-size: 0.9rem;
                        img {
                           width: 18px !important;
                        }
                    }
                }
            }
    }
}
@media screen and (max-width: 575px) {
    #frusack-product-list {
        .card-product-item-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            .product-details__label-wrap {
                margin-left: 15px;
                margin-right: 10px;
            }

            .add-to-cart-form {
                .product-details__label {
                    width: 70px;
                }
                .btn-custom-white {
                    font-size: 1.1rem;
                    img {
                        width: 25px !important;
                    }
                }
            }
        }
    }
}
