/* homepage Product Section Styling */
/* ------------ FRONT PAGE PRODUCTS CUSTOM STYLING ------------- /
\*------------------------------------*/

.product-item__purchase {
    z-index: 99;
    position: relative;
}

.custom-button-wrapper {
    margin-top: 90px !important;
    margin-bottom: 85px !important;
}

.custom-button-padding {
    padding: 10px 75px 10px 75px !important;
}

.product-item img {
    min-height: 115% !important;
    width: auto !important;
}

.product-item__purchase {
    .product-purchase {
        width: 100% !important;
    }

    .add-to-cart-form {
        margin-bottom: 0 !important;
        float: right;
    }
}

.addtocart-button-wrapper {
    margin-top: 0px;
}

.colors-wrapper {
    position: relative;
    z-index: 999;
    display: flex;
    margin-top: -39px;
    width: 60%;

    .product-color {
        a {
            &:hover {
                cursor: pointer;
            }

            display: block;

            img {
                &:hover {
                    cursor: pointer;
                    border: 1px solid black;
                }
            }

            .selected-image-border {
                border: 1px solid black;
            }
        }
    }
}

.product-color-image-border {
    border: 1px solid black;
}

.color-1 {
    width: 20px;
    margin-right: 9px;
    height: auto;
}

.color-2 {
    width: 60px;
    margin-right: 29px;
    height: auto;
}

.product-item__title {
    margin-top: 85px !important;
}

.card__wrap {
    .product-item__image {
        position: relative;

        .product-item__image-hover {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
        }
    }

    .product-item__image:hover .product-item__image-hover {
        display: block;
        text-align: center;
        position: absolute;
        width: 180px;
        height: 63px;
        top: 50%;
        left: 24%;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 1.4rem;
        opacity: 1;
        visibility: visible;
        background-color: rgba(255, 255, 250, 0.4);
        border-radius: 3px;

        p {
            margin-bottom: 0 !important;
        }

        .bigger {
            font-size: 1.6rem;
            margin-top: -5px;
        }
    }
}

.newsletter-terms-label {
    a {
        text-decoration: underline;
    }
}

$breakpoint-tablet-hp: 767px;
@media (max-width: $breakpoint-tablet-hp) {
    .product-category-wrap {
        margin-bottom: 100px;
    }
    .custom-button-wrapper {
        margin-top: 44px !important;
    }
}

