//Bootstrap overrides
@import "variables";
@import "mixins";

//Bootstrap
@import "bootstrap/bootstrap.scss";

//Custom styles
@import "colors";
@import "buttons";
@import "nav";
@import "dropdown";
@import "tables";
@import "modals";
@import "slider";
@import "forms";
@import "alerts";
@import "type";

html, body {
    height: 100%;
    color: $text;
    font-family: 'Raleway', sans-serif;
}

main {
    flex: auto;
}

a {
    color: black;

    &:hover, &:focus, &:active {
        color: black
    }
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-img {
	height: 30px;
}

.eso-product-quantity {
    max-width: 4.7em;
}

.enter-form {
    max-width: 400px;
    margin: 0 auto;
}

.checkout-group {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card__wrap {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.product-item {
    display: block;
    width: 100%;

    &__image {
        height: 300px;
        margin-bottom: 1rem;

    }

    &__tag {
        position: absolute;
        top: 0;
        right: 0;
    }

    img {
        max-height: 100%;
        width: auto;
    }
}

.product-tag {
    background: $primary;
    color: white;
    border-radius: $border-radius;
    font-weight: bold;
    padding: 4px 10px;
    font-size: .8rem;
}

footer {
    flex-shrink: 0;
    z-index: 999;
}

.footer-line {
    font-size: .8rem;
}

.additional-width {
    height: 1000px;
}

/* Frusack Is Text Area and 3 Advantages Posts */

.frusack-is-content {
    display: flex;
    justify-content: center;
    padding: 35px 0;
    .frusack-is-text {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        h2 {
            font-family: 'Raleway', sans-serif !important;
            font-weight: bold !important;
            font-size: 1.8rem !important;
        }
    }
}

$breakpoint-mobile-2: 450px;
@media (max-width: $breakpoint-mobile-2) {
    .frusack-is-content {
        .frusack-is-text {
            h2 {
                font-size: 1.4rem !important;
            }
        }
    }
}


#block-frusack-is {
    background-color: #F0F6F7 !important;
}

.frusack-is-advantages {
    .frusack-is-image {
        text-align: center;
        img {
            min-width: 200px;
            max-width: 200px;
            height: auto;
            margin-top: 30px;
        }
    }
    .frusack-is-header {
        text-align: center;
        margin-top: 20px;
        h3 {
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 1.6rem;
            color: #FFA574;
        }
    }
    .frusack-is-text-advantages {
        margin-top: 15px;
        margin-bottom: 30px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1.15rem;
        margin-left: 60px;
        margin-right: 60px;
        font-weight: bold;
    }
}
$breakpoint-tablet-2: 800px;
@media (max-width: $breakpoint-tablet-2) {
    .frusack-is-text-advantages {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* Frusack Subscription */


#homepage-subscription-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .subscription-header {
        font-family: 'Raleway', sans-serif;
        font-size: 1.6rem;
        font-weight: bold;

        margin-left: 7%;

        h2 {
            font-family: 'Raleway', sans-serif;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

  .subscription-text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    margin-left: 7%;
    margin-bottom: 60px;
  }

    .subscription-input {
        margin-left: 14%;
      .eso-newsletter-subscribe-form {
        form {
          .form-control {
            width: 55%;
            margin-right: 15px;
          }
          .newsletter-terms-label {
              margin-top: 10px;
              font-size: 1.2rem;
              input {
                  margin-right: 5px;
              }
          }
        }
      }
    }

    /* Old styling Commented Out*/
   /*.subscription-input{
       margin-left: 21%;
       margin-bottom: 20px;
   }

  .subscription-policy {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.0rem;
      margin-left: 7%;

      a {
          text-decoration: underline;
      }
      a:hover {
          cursor: pointer;
      }
  }*/
}

.eso-newsletter-subscribe-form {
    form {
        .button-white {
            padding: 0.675rem .75rem !important;
        }
    }
}

$breakpoint-tablet: 991px;
$breakpoint-550: 550px;
$breakpoint-413: 413px;
$breakpoint-430: 430px;

@media (max-width: $breakpoint-550) {
    .subscription-input {
        margin-left: 6% !important;
    }
}

@media (max-width: $breakpoint-413) {
    .subscription-input {
        margin-left: 14%;

        .eso-newsletter-subscribe-form {
            form {
                .form-control {
                    width: 100% !important;
                    margin-bottom: 10px;
                }

            }
        }
    }
}
/*
@media (max-width: $breakpoint-tablet) {
    .subscription-input{
        margin-left: 7% !important;
        margin-right: 7% !important;
    }
    .subscription-input-button {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .subscription-policy {
        display: flex;
        justify-content: center;
        .subscription-checkbox {
            margin-left: -70px;
        }
    }
}

@media (max-width: $breakpoint-430) {
    .subscription-checkbox {
        margin-left: 0px !important;
    }
}
*/



/* Custom CHECKBOX */
/* Customize the label (the container) */
/*
.subscription-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subscription-checkbox label {
    cursor: pointer;
} */

/* Hide the browser's default checkbox */
/*
.subscription-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} */

/* Create a custom checkbox */
/*
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}*/

/* On mouse-over, add a grey background color */
/*
.subscription-checkbox label:hover input ~ .checkmark {
    background-color: #ccc;
}
*/
/* Create the checkmark/indicator (hidden when not checked) */
/*
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
*/
/* Show the checkmark when checked */
/*
.subscription-checkbox label input:checked ~ .checkmark:after {
    display: block;
}*/

/* Style the checkmark/indicator */
/*
.subscription-checkbox .checkmark:after {
    left: 7px;
    top: 3.5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
*/

/*-------------------------  */
/* Custom Grid For 7 columns */

.front-brand-header {
    text-align: center;
    background-color: #F0F6F7;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.1rem;
    padding-top: 60px;
    padding-bottom: 40px;
    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 2.1rem;
    }
}

#custom-grid-7 {
    box-sizing: border-box;
    background-color: #F0F6F7;
    padding-bottom: 80px;
}

#custom-grid-7:after {
    box-sizing: inherit;
}

.custom-row {
    margin-right: auto;
    margin-left: auto;
    max-width: 89.5%;
}

.custom-row:after {
    content: "";
    clear: both;
    display: table;
}

.custom-col-1 {
    width: 14.2857%;
    float: left;
    padding: 15px;
}

@media (max-width: $breakpoint-tablet) {
  .custom-col-1 {
    width: 20%;
  }
}

@media (max-width: $breakpoint-430) {
  .custom-col-1 {
    width: 33.33%;
  }
}

/* Frusack Contact Styling */
#contact-frusack{
    margin-top: 70px;
    margin-bottom: 220px;
}


.frusack-contact-form-wrapper {
    font-family: 'Raleway', sans-serif;
    .frusack-contact-header-1 {
        h1 {
            font-weight: bold;
            font-size: 2rem;
        }
    }
    .frusack-contact-text-1 {
        font-size: 1.3rem;
    }
    .frusack-contact-form {
        font-size: 1.3rem;
    }
}

.frusack-contact-data {
    font-family: 'Raleway', sans-serif;
    .frusack-contact-header-2 {
        font-weight: bold;
        font-size: 2rem;
        h2 {
            font-weight: bold;
            font-size: 2rem;
            font-family: 'Raleway', sans-serif;
        }
    }
    .frusack-contact-address {
        font-size: 1.3rem;
    }
    .frusack-contact-postcode {
        font-size: 1.3rem;
    }
    .frusack-contact-email {
        font-size: 1.3rem;
    }
    .frusack-contact-offer {
        font-size: 1.3rem;
        a {
            color: #85c9d0;
            text-decoration: underline;
        }
        a:hover {
            cursor: pointer;
        }
    }
}

/* Customization of Contact Form */

.custom-contact-form {
    p {
        display: block;
      label {
        display: block;
      }
    }
}

.custom-form {
    font-weight: bold;
    width: auto;

    span {
        display: block;
        margin-top: 3px;
        width: 90%;
        input {
            display: block;
            width: 100%;
            padding-left: 20px;
            line-height: 45px;
            border: 2px solid #C9E9B8 !important;
        }
        input::placeholder {
            color: #cfcdc9;
        }
    }
}

.custom-textarea {
    font-weight: bold;
    margin-bottom: 40px;
    width: auto;
    span {
        display: block;
        margin-top: 3px;
        width: 90%;
    }
    textarea {
        display: block;
        padding-left: 20px;
        resize: none;
        height: 200px;
        border: 2px solid #C9E9B8 !important;
        width: 100%;
    }
    textarea:focus {
      outline: none;
    }
    textarea::placeholder {
        color: #cfcdc9;
    }
}

.custom-submit {
    float: right;
    margin-right: 10%;
    border: none;
    background: #C9E9B8;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    padding: 10px 50px 10px 50px;
    border-radius: 3px;
}
.custom-submit:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

@media (max-width: $breakpoint-tablet) {
    .frusack-contact-form-wrapper {
        margin-left: 60px;
        .frusack-contact-text-1 {
            margin-right: 10px;
        }
    }

    .frusack-contact-data {
        margin-left: 60px;
        margin-top: 40px;
        .frusack-contact-offer {
            margin-right: 10px;
        }
    }

    #contact-frusack {
        margin-bottom: 100px;
    }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

/* menu cart and customer HIDE for this stage */
/*
#last-nav-element {
    display: none;
}

.menu-account {
    display: none;
}

.menu-cart {
    display: none;
}
*/
/* Obchodni Podminky PAGE Styling */

/* Nav Menu Adjustments */

#last-nav-element {
    margin-top: -15px;
}
#last-nav-element {
    text-align: center;
    margin-right: 0 !important;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    .my-account-menu-list {
        left: -44px !important;
        top: 20px !important;
    }
}

#last-nav-element li:nth-child(2) {
    margin-top: -3px;
    margin-left: 7px;
}

.nav-link-cart {
    position: relative;
    #cart-count {
        position: absolute;
        left: -3px;
        top: 12px;
        color: red;
        font-size: 14px;
        font-weight: bold;
    }
}

#language-switcher-small {
    .menu-cart {
        a {
            width: 40px;
            margin: auto;
            position: relative;
            #cart-sum {
                position: absolute;
                left: 2px;
                top: 11px;
                color: red;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}
/*  -  ---- --  --    -*/

.obchodni-header {
    margin-bottom: 40px;
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 2rem;
    }
}

.obchodny-text {
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.obchodny-header {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 3rem;
  border-top: 2px solid #f0f6f7;
  border-bottom: 2px solid #f0f6f7;
    h2 {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 3rem;
        margin-bottom: 0;
    }
}

.obchodny-block {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    margin-top: 10px;
    .obchodny-block-number {
        display: inline-block;
        width: 12%;
        text-align: center;
    }
    .obchodny-block-text {
        display: inline-block;
        width: 88%;
    }
}

.obchodni-additional {
    display: flex;
    margin-top: 5px;

    .obchodni-additional-1 {
        display: inline-block;
        width: 7%;
        font-weight: normal;
    }
    .obchodni-additional-2 {
        display: inline-block;
        width: 93%;
    }
    .obchodni-additional-3 {
        display: inline-block;
        width: 5%;
        font-weight: normal;
        p {
            display: inline;
            color: #ffa574;
        }
    }
    .obchodni-additional-4 {
        display: inline-block;
        width: 95%;
        p {
            display: inline;
            color: #ffa574;
        }
    }
}

/* Single Product Page Styling */
#single-product-container {
    margin-bottom: 90px;
}

#single-product-container-small {
    display: none;
}

$breakpoint-767: 767px;
/*575*/
@media (max-width: $breakpoint-767) {
    #single-product-container {
        display: none !important;
    }
    #single-product-container-small {
        display: block;
        .product-detail__info {
            text-align: center;
        }
        .product-gallery__main {
            text-align: center;
        }
    }
}



.product-detail__info {
    h1 {
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-bottom: 0;
    }

    .product-detail__header {
        border-bottom: 2px solid #f0f6f7;
        span {
          font-size: 1.7rem;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          color: $muted;
          letter-spacing: -1px;
        }
    }

    .product-detail__cta {
        font-size: 1.1rem;

        form {
            .product-amount {
                color: $muted;
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                font-size: 1.1rem;
                margin-top: 11px;
            }
          #eso-product-quantity {
            background: #f0f6f7;
            border: none;
            border-radius: 2px !important;
          }
        }

        .product-details__label {
            width: 70px;
            input {
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                color: black;
                background: #f0f6f7;
                border: none;
            }
        }

        .btn-custom-white {
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            color: black;
            font-size: 1.1rem;
            padding: 10.5px 10px;
            border: none;
            background: #f0f6f7;

            img {
                width: 25px;
                height: auto;
                margin-left: 3px;
            }
        }
        .btn-custom-white:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.frusack-single-product-content {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    margin-top: 112px;
    .frusack-single-product-text {
        border-top: 2px solid #f0f6f7;
        padding-top: 10px;
        p {
            margin-top: 10px;
        }
    }
    .frusack-single-product-characteristic {
        display: flex;
        margin-top: 20px;
        margin-bottom: 25px;
        .frusack-single-product-characteristic1 {
            width: 40%;
        }
        .frusack-single-product-characteristic2 {
            width: 60%;
            color: $muted;
        }
    }

    .frusack-single-product-header1 {
        font-size: 1.3rem;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 2px solid #f0f6f7;
        border-bottom: 2px solid #f0f6f7;
        display: flex;
        .single-product-button {
            background: none;
            border: none;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
        }
        button span:before {
            font-size: 1.7rem;
            line-height: 1.3rem;
            width: 15%;
            content: "+";
            font-weight: bold;
            padding-right: 20px;
        }
        button:focus {
            outline: none;
        }
        .active-button span:before {
            content: "–";
        }
    }

    .frusack-single-product-text1 {
        padding-top: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid #f0f6f7;
    }

    .frusack-single-product-header2 {
        font-size: 1.3rem;
        padding-top: 10px;
        padding-bottom: 10px;
        /*border-top: 2px solid #f0f6f7;*/
        border-bottom: 2px solid #f0f6f7;
        display: flex;
        .single-product-button {
            background: none;
            border: none;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
        }
        button span:before {
            font-size: 1.7rem;
            line-height: 1.3rem;
            width: 15%;
            content: "+";
            font-weight: bold;
            padding-right: 20px;
        }
        button:focus {
            outline: none;
        }
        .active-button span:before {
            content: "–";
        }
    }

    .frusack-single-product-text2 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}



$breakpoint-445: 445px;

@media (max-width: $breakpoint-445) {
    .frusack-single-product-content {
        margin-top: 160px;
    }

    #single-product-container .single-product-colors .product-colors-title {
        width: 24% !important;
    }
}

#single-product-container {
    .product-gallery__main {
        text-align: center;
        margin-bottom: 25px;
    }
    .product-gallery__item {
        a {
            img {
                margin-left: 10px;
            }
        }
        a {
            img:first-child {
                margin-left: 0;
            }
        }
    }
    .single-product-colors {
        display: flex;
        color: $muted;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        .product-colors-title {
            width: 19.8%;
            min-width: fit-content;
            margin-right: 3px;
        }

        .product-colors {
            img {
                width: 18px;
                border: 1px solid black;
                margin-bottom: 4px;
            }
        }
    }
}

/* Account page styling for */
#account {
    margin-bottom: 150px;
    .btn-secondary {
        background: #f0f6f7 !important;
        border: 1px solid #D3D3D3 !important;
        border-radius: 1px !important;
        color: black !important;
        height: auto !important;

        &:hover {
            cursor: pointer !important;
            text-decoration: underline !important;
            color: $muted !important;
            background: #f0f6f7 !important;
            border: 1px solid #D3D3D3 !important;
        }
    }
}
