@import "variables";
@import "mixins";
@import "colors";

.price {
    color: #333;
    font-size: 1.4rem;
    font-weight: bold;
}

.price-before-discount {
    display: block;
    color: red;
    font-size: 1rem;
    text-decoration: line-through;
}

.product-gallery__item {
    display: inline-block;
}

$breakpoint-mobile-p1: 534px;
@media (max-width: $breakpoint-mobile-p1) {
    .product-gallery__item {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
    }
}

.stock-status {
    &--in-stock {
        .stock-status__name {
            color: $success;
        }
    }
}

.product-detail {
    &__tag {
        font-size: .8rem;
        display: inline-block;
        vertical-align: top;
    }
}

.stock-status__name {
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
}

.add-to-cart-form {
    margin-bottom: 2rem;
}

.lightbox .lb-image {
    border: 0;
}

/* List Item styling  */
.card__wrap {
  .product-item-title-wrap {
    .product-item__title {
      font-size: 1.7rem;
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
      margin-top: 57px;
      margin-bottom: 0;
    }
  }


  .price__item {
    color: $muted;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

  .product-item__purchase {
    display: flex;
    .product-colors {
        width: 30%;
    }

    .product-purchase {
      width: 70%;
      .btn-custom-white {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        color: black;
        font-size: 1.1rem;
        padding: 10.5px 10px;
        border: none;
        background: #f0f6f7;
        img {
          width: 25px !important;
          height: auto;
          margin-left: 3px;
        }
      }
      .btn-custom-white:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

  }
}



/*  List of All Products */
.product-item__purchase {
  .product-colors {
    img {
      max-height: 18px;
      width: auto;
      margin-top: 14px;
      border: 1px solid black;
    }
  }
}

$breakpoint-mobile-1199: 1199px;
@media (max-width: $breakpoint-mobile-1199) {
  #frusack-product-list {
    .card__wrap {
      .product-item__purchase{
        .product-colors {
          /*width: 20% !important;*/
        }
      }
    }
  }
}

/* Hover for Products */

.card__wrap {
  .product-item__image {
    position: relative;
  }

  .product-item__image-hover {
    display: block;
    text-align: center;
    position: absolute;
    width: 180px;
    height: 63px;
    top: 50%;
    left: 24%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    opacity: 1;
    visibility: visible;
    background-color: rgba(255, 255, 250, 0.4);
    border-radius: 3px;

    p {
      margin-bottom: 0 !important;
    }

    .bigger {
      font-size: 1.6rem;
      margin-top: -5px;
    }
  }
}

$breakpoint-767 : 767px;

@media (max-width: $breakpoint-767) {
  .card__wrap {
    .product-item__image-hover {
      left: 32%;
    }
  }
}