@import "variables";
@import "mixins";
@import "colors";

/* Nav menu */
#full-navbar-container {
  z-index: 9999;
}
/*  Header  */
#velkoobhod-frusack {
  font-family: 'Raleway', sans-serif;
}

#velkoobhod-header {
  height: 493px;
  background-position: center center !important;
  position: relative;
  text-align: center;
  .text-wrapper {
    text-align: center;
    h1 {
      margin-top: 200px;
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
}

$breakpoint-700: 700px;
@media (max-width: $breakpoint-700) {
  #velkoobhod-header {
    .text-wrapper {
      h1 {
        margin-top: 90px;
        font-size: 2rem;
      }
    }
  }
}

/*  Advantages  */
.velko-advantages-wrapper {
  text-align: center;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .velko-advantages-image {
  width: 45%;
  img {
      min-width: 200px;
      max-width: 200px;
      height: auto;
    }
  }
  .velko-advantages-header {
    margin-top: 30px;
    width: 80%;
    border-bottom: 2px solid #F0F6F7;
    h2 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.7rem;
    }
  }
  .velko-advantages-text {
    margin-top: 10px;
    font-size: 1.5rem;
    width: 60%;
    color: $muted;
  }
}

$breakpoint-1400: 1400px;
@media (max-width: $breakpoint-1400) {
  .velko-advantages-wrapper {
    .velko-advantages-image {
      width: 55%;
    }
  }
}

/*  Reference  */
#velkoobhod-reference {
  margin-top: 15px;
  margin-bottom: 15px;
  .velko-reference-image {
    text-align: center;
    img {
      width: 90%;
    }
  }
  .velko-reference-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .velko-reference-header {
      margin-top: 140px;
      text-align: center;
      width: 55%;
      h3 {
        font-size: 2.4rem;
        font-weight: bold;
      }
    }
    .velko-reference-text {
      text-align: center;
      font-size: 1.6rem;
      margin-top: 30px;
      width: 80%;
    }
    .velko-reference-button-wrapper {
      text-align: center;
      margin-top: 30px;
    }
  }
}

.modal {
  overflow-y:auto;
}

.button-green {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  background-color: #C9E9B8;
  color: black;
  padding: 10px 40px 10px 40px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.button-green:hover {
  color: white;
  text-decoration: underline;
  outline: none;
}

$breakpoint-1190: 1190px;
@media (max-width: $breakpoint-1190) {
  .velko-reference-image {
    margin-top: 120px;
  }
}

$breakpoint-991: 991px;
@media (max-width: $breakpoint-991) {
  .velko-reference-header {
    margin-top: 50px !important;
  }
  .velko-reference-image {
    margin-top: 50px;
  }
}

$breakpoint-767: 767px;
@media (max-width: $breakpoint-767) {
  #velkoobhod-reference {
    margin-bottom: 60px !important;
  }
  .velko-reference-header {
    margin-top: 20px !important;
  }
}

/*  Modal Window  */
.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        text-align: center;
        h4 {
          margin: auto;
          width: 100%;
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          text-transform: uppercase;
        }
        button {
          position: relative;
          .modal-exit {
            position: absolute;
            right: -34px;
            top: -5px;
            font-size: 2.4rem;
            color: white;
            z-index: 999;
          }
        }
      }
      .modal-body {
        padding: 0.5rem !important;
        .body-section {
          text-align: center;
          margin-top: 50px;
          .body-section-pic {
            img {
              max-width: 140px;
            }
          }
          .body-section-text {
            margin-top: 20px;
            margin-bottom: 40px;
          }
        }
        .custom-form {
          display: flex;
          align-items: center;
          flex-direction: column;
          .text-left {
            margin-bottom: -26px;
          }
        }
        .custom-textarea {
          display: flex;
          align-items: center;
          flex-direction: column;
          span {
            width: 55%;
          }
          .text-left {
            margin-bottom: -26px;
            max-width: 55%;
          }
        }
      }
    }
  }
}

#velkoModal2 {
  .custom-form {
    margin-top: 20px !important;
  }
  .custom-textarea {
    margin-top: 20px !important;
  }
}

.custom-checkbox {
  text-align: center;
  p {
    text-align: center;
    display: flex;
    justify-content: center;
    input {
      margin: auto;
    }
  }
}

#velkoModal3 {
  .modal-body {
    .body-section {
      .body-section-text {
        span {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
  }
}

.modal-backdrop {
  z-index: 100000 !important;
}

.modal {
  z-index: 100001 !important;
}

/*  Conditions  */
#velkoobhod-conditions {
  margin-top: -80px;
  margin-bottom: 100px;
}
.velko-conditions-wrapper {
  display: flex;
  justify-content: center;
  .conditions-add-wrapper {
    width: 85%;
    background-color: #f1f5f6;
    border-radius: 5px;
    -moz-box-shadow: 30px 30px 4px #f9fafb ; /*#f9fafb*/
    -webkit-box-shadow: 30px 30px 4px #f9fafb;
    box-shadow: 30px 30px 4px #f9fafb;
    .velko-conditions-image{
      text-align: center;
      margin-top: 50px;
      img {
        max-width: 200px;
      }
    }
    .velko-conditions-header {
      text-align: center;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      min-height: 72px;
      h3 {
        display: block;
        width: 55%;
        font-size: 1.7rem;
        font-weight: bold;
      }
    }
    .velko-conditions-text {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      min-height: 200px;
      span {
        display: block;
        width: 70%;
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
  }
}

$breakpoint-1400: 1400px;
@media (max-width: $breakpoint-1400) {
  #velkoobhod-conditions {
    margin-top: 50px;
  }
}

/* Friends */
#velkoobhod-friends {
  margin-top: 140px;
}

.velko-friends-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .velko-friends-header {
    h3 {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .velko-friends-separator {
    margin-top: 5px;
    width: 25%;
    border-bottom: 2px solid #f0f6f7;
  }
}


#custom-grid-5 {
  margin-top: 40px;
  box-sizing: border-box;
  padding-bottom: 80px;
}

#custom-grid-5:after {
  box-sizing: inherit;
}

.custom-col-2 {
  width: 20%;
  float: left;
  padding: 25px;
}

$breakpoint-991: 991px;
@media (max-width: $breakpoint-991) {
  .custom-col-2 {
    width: 50%;
  }
}

$breakpoint-600: 600px;
@media (max-width: $breakpoint-600) {
  #velkoobhod-friends {
    margin-top: 60px;
  }
}


/* Slider */
#velkoobhod-slider {
  background-color: #d4e7ca;
  position: relative;
  .velko-slider-back-pic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
  }
  .velkoobhod-slider-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 999;
    .velkoobhod-slider-header {
      margin-top: 45px;
      margin-bottom: 5px;
      h3 {
        font-size: 2rem;
        font-weight: bold;
        color: white;
      }
    }
    .velkoobhod-slider-separator {
      width: 25%;
      border-bottom: 2px solid white;
      margin-bottom: 50px;
    }
  }
}

.velkoobhod-slider {
  margin-top: -80px;
  padding-bottom: 120px;
  .slick-list {
    overflow-y: visible;
    overflow-x: hidden;
  }
  .velko-slides-wrap {
    .velko-slides {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      margin-top: 92px ;
      img {
        margin-top: 35px;
        max-width: 170px;
        z-index: 99;
      }
      .velko-slides-content {
        background-color: white;
        border-radius: 6px;
        min-height: 400px;
        min-width: 75%; /*90*/
        position: relative;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: -95px;
        -webkit-box-shadow: -1px 0px 14px 6px rgba(0,0,0,0.39);
        -moz-box-shadow: -1px 0px 14px 6px rgba(0,0,0,0.39);
        box-shadow: -1px 0px 14px 6px rgba(0,0,0,0.39);
        .velko-slides-content-header-1 {
          font-size: 1.7rem;
          font-weight: bold;
          color: #c9e0b7;
          margin-top: 87px;
        }
        .velko-slides-content-header-2 {
          font-size: 1.1rem;
          font-weight: bold;
        }
        .velko-slides-content-text {
          font-size: 1.0rem;
          margin-top: 20px;
          min-height: 150px;
          margin-left: 15px;
          margin-right: 15px;
        }
        .velko-slider-content-button {
          .button-green {
            font-size: 1rem ;
          }
        }
      }
    }
  }
}
/* Middle SLide customization */
.slick-center {
  z-index: 999;
  margin-top: 25px !important;
  img {
    margin-top: 20px;
    max-width: 200px !important;
  }
  .velko-slides-content {
    min-width: 129% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px !important;
    z-index: 9;
    .velko-slides-content-header-1 {
      font-size: 2rem !important;
    }
    .velko-slides-content-header-2 {
      font-size: 1.2rem !important;
    }
    .velko-slides-content-text {
      width: 75% !important;
      min-height: 170px !important;
      font-size: 1.1rem !important;
    }
    .velko-slider-content-button {
      .button-green {
        font-size: 1.2rem !important;
      }
    }
  }
}

.slick-list {
  padding-bottom: 20px !important;
}

.slick-slide {
  outline: none
}

$breakpoint-1200: 1200px;
@media (max-width: $breakpoint-1200) {
  .velko-slides {
    .velko-slides-content-header-2 {
      min-width: 52px;
    }
    .velko-slides-content-text {
      margin-top: 0;
      font-size: 0.9rem !important;
    }
  }

  .slick-center {
    .velko-slides-content-header-2 {
      min-width: 0;
    }
    .velko-slides-content-text {
      font-size: 1.1rem !important;
    }
  }
}

/* slick arrows */
.velkoobhod-slider {
  position: relative;
  .prev {
    position: absolute;
    top: 340px;
    left: 200px;
    img {
      max-width: 100px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .next {
    position: absolute;
    top: 340px;
    right: 200px;
    img {
      max-width: 100px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}


@media (max-width: $breakpoint-991) {
  .velkoobhod-slider {
    .prev {
      left: -50px;
    }
    .next {
     right: -50px;
    }
  }
}
$breakpoint-575: 575px;
@media (max-width: $breakpoint-575) {
  .velkoobhod-slider {
    .prev {
      left: -10px;
      img {
        max-width: 60px;
      }
    }
    .next {
      right: -10px;
      img {
        max-width: 60px;
      }
    }
  }
}

/* slick dots */

.slick-dots {
  margin: 30px 0 0 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  display: none;
  height: 12px;
  width: 12px;
  margin: 20px;
  line-height: 5px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}

.slick-dots li button {
  height: inherit;
  width: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.slick-dots li.slick-active {
  display: inline-block;

}

.slick-dots li.before,
.slick-dots li.after {
  display: inline-block;
}



/* ----------------------------------  */
/* Contact Form */
#velkoobhod-contact {
  position: relative;
  overflow: visible;
  img {
    position: absolute;
    top: -163px;
    right: 0;
    z-index: 9;
    width: 695px;
  }
  .custom-margin {
    margin-top: 100px;
  }
}

.velko-contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 99;
  position: relative;
  .velko-contact-header {
    h3 {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .velko-contact-separator {
    margin-top: 5px;
    width: 80%;
    border-bottom: 2px solid #f0f6f7;
  }
  .velko-contact-subheader {
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #cfccc9;
  }
}
.custom-contact-form-2 {
  margin-top: 30px;
}

.custom-form {
  margin-top: 30px;
  font-size: 1.2rem;
}

.custom-textarea {
  margin-top: 30px;
  font-size: 1.2rem;
}

.custom-form span {
  width: 55% !important;
  input {
    border: 2px solid #C9E9B8 !important;
  }
}

.custom-submit {
  float: left !important;
  margin-bottom: 80px;
}

$breakpoint-1450: 1450px;
@media (max-width: $breakpoint-1450) {
  #velkoobhod-contact {
    img {
      width: 565px;
    }
  }
}

$breakpoint-767: 767px;
@media (max-width: $breakpoint-767) {
  #velkoobhod-contact {
    img {
      display: none;
    }
  }
  .custom-form span {
    width: 100% !important;
  }
  .custom-textarea span {
    width: 100% !important;
  }
}

