/*
	Theme Name: Frusack Theme
	Description: Theme for Frusack store
	Version: 2020.4.3
	Author: Marketsoul s. r. o.
	Author URI: http://marketsoul.cz
	Tags: HTML5, CSS3, jQuery
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900&display=swap');

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #444;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

.wrapper-link {
    display: block;
}

.wrapper-link:active, .wrapper-link:focus, .wrapper-link:hover {
    text-decoration: none;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
    margin: 0 auto;
    position: relative;
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky {

}

.bypostauthor {

}

.post-edit-link {
    position: fixed;
    left: 50px;
    bottom: 0;
    display: inline-block;
    padding: 15px;
    font-weight: 600;
}

.screenReaderElement {
    position: absolute;
    left: -999999999px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*------------------------------------*\
    STYLING
\*------------------------------------*/

/* ------------ NAV MENU -------------*/

/* customization of Toggler icon */
.custom-toggler.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler .navbar-toggler-icon {
    width: 27px !important;
    height: 27px !important;
}

.

/*smallscreen nav menu (with toggl on less then 991px) */
#smallscreen-menu {
    /*position: fixed !important;*/
    top: 0;
}

@media only screen and (min-width: 991px) {
    #smallscreen-menu {
        display: none;
    }
}

.logo img {
    width: 150px;
    height: auto;
}

.navbar-collapse {
    text-align: center;
}

.my-account-menu-list {
    text-align: center !important;
    list-style: none;
    padding: 0 !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold !important;
    font-size: 1.0rem !important;
    border: none !important;
}

.dropdown-item {
    padding: 0.1rem 0rem !important;
}

#navbarSupportedContent {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
}

@media only screen and (max-width: 990px)  {
    #navbarSupportedContent {
        font-size: 1.1rem;
    }
}

.dropdown-item:active {
    background-color: white !important;
}

.dropdown-item:hover {
    background-color: white !important;
}

.menu-item a:active {
    text-decoration: none !important;
}

.menu-item a:hover {
    text-decoration: none !important;
}

.nav-picture-account {
    width: 16px;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-item:first-child {
    margin-bottom: 3px;
}

/*fullscreen nav menu (on wider then 991px) */
#full-navbar-container {
    z-index: 1000;
}

/*class assigned to the nav-menu on scroll*/
.sticky {
    position: fixed !important;
    /*padding-top: 10px;*/
    background: white;
    box-shadow: 0 8px 20px -6px rgba(172, 172, 172, 0.3);
    z-index: 99999999;

    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
}

.homepage-slider-margin {
    margin-top: 104px;
}

#fullscreen-menu {
    /*position: fixed !important;*/
    top: 0;
}

/* fadeIn effect */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 990px) {
    #fullscreen-menu {
        display: none;
    }

    .sticky {
        padding-bottom: 10px;
    }
}

.brand-block {
    text-align: center;
}

.navbar-fullscreen {
    flex-direction: row !important;
    justify-content: space-between;
}

#menu-main-menu {
    padding-top: 9px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
}

#menu-main-menu-2 {
    padding-top: 9px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
}

#menu-main-menu li a:hover {
    color: #686E68 !important;
    text-decoration: underline !important;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#menu-main-menu-2 li a:hover {
    color: #686E68 !important;
    text-decoration: underline !important;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#menu-main-menu .active a {
    color: #C9E9B8 !important;
}

#menu-main-menu-2 .active a {
    color: #C9E9B8 !important;
}

#menu-main-menu:first-child li a {
    margin-left: 20px;
}


@media only screen and (max-width: 1719px) {
    #header-last-md {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 1359px) {
    #last-nav-element {
        font-size: 0.9rem !important;
    }
}

@media only screen and (max-width: 1247px) {
    #menu-main-menu {
        display: flex;
        align-items: center;
    }
    #menu-main-menu li a {
        text-align: center;
    }
    #menu-main-menu-2 {
        display: flex;
        align-items: center;
    }
    #menu-main-menu-2 li a {
        text-align: center;
    }
}

@media only screen and (max-width: 996px) {
    #last-nav-element {
        font-size: 0.8rem !important;
    }
}

/* hiding right menu for the main web */

/*
.language-switcher {
	display: none;
}

#last-nav-element {
	display: none;
}

#fullscreen-menu {
	margin-bottom: 15px;
}

#homepage-products {
	display: none;
}

#homepage-button-toshop {
	display: none;
}
*/

/* spaces for top and bottom of both menus*/
#full-navbar-container {
    padding-top: 22px; /* not centered - as a design 40px padding top */
    padding-bottom: 11px;
    border-bottom: 1px solid #f0f6f7;
}

@media only screen and (max-width: 990px) {
    #full-navbar-container {
        padding-top: 17px; /* not centered - as a design 40px padding top */
        padding-bottom: 16px;
    }
}

    #navbarSupportedContent {
    margin-bottom: -12px;
}

.lang-item {
    display: inline;
    list-style: none;
}

.lang-item a {
    color: #68686e !important;
}

.current-lang a {
    font-weight: bold !important;
}

.language-switcher {
    /*text-align: center;*/
    margin-top: -13px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    padding-left: 14px;
}

.language-switcher-small {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

#smallscreen-menu .nav-link {
    padding: 0.1rem 0.5rem !important;
}

/* adding content between language switchers */
.language-switcher li:first-child:after {
    content: " |";
}

.language-switcher-small li:first-child:after {
    content: ' |';
}

header a {
    color: black !important;
}


#smallscreen-menu #cart-count {
    position: absolute;
    color: red;
    left: 1px;
    bottom: -2px;
}

/*----------------------*/
/*--- Footer Styling--- */
/*----------------------*/

.footer {
    background-color: #F0F6F7 !important;
    width: 100%;
}

.brand-block-footer {
    margin-top: 86px; /* 110px before powere by E-soul added to the block*/
}

.sign-block-footer {
    margin-top: 12px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.sign-esoul {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.sign-esoul a {
    color: deepskyblue;
}

.about-footer {
    text-align: right;
}

.kontakt-footer {
    text-align: right;
    margin-right: -50px;
}

.left-footer {
    margin-left: 15%;
}

@media only screen and (max-width: 767px) {
    .left-footer {
        margin-left: 2%;
    }

    .kontakt-footer {
        margin-right: 0px;
        text-align: left;
        margin-left: 9px;
    }

    .brand-block-footer {
        margin-top: 40px;
    }

    .about-footer {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .kontakt-footer {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 425px) {
    .left-footer {
        text-align: center;
        margin-left: 0%;
    }

    .about-footer {
        text-align: center;
    }

    .kontakt-footer {
        text-align: center;
    }
}


    .footer_fb, .footer_inst {
    max-width: 30px;
}

.footer-item {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    margin-top: 3px;
}

.footer-item:hover {
    text-decoration: none;
}

.footer-item span:hover {
    color: #68686e;
    transition: 0.15s ease-in-out;
    text-decoration: underline;
}

.kontakt-footer-header, .about-footer-header {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.about-footer {
    margin-top: 33px;
}

.kontakt-footer {
    margin-top: 33px;
}

.kontakt-footer-icons {
    margin-top: 3px;
}

.grecaptcha-badge {
    visibility: hidden;
}

/*  Hiding Cart */
/*
#last-nav-element {
    display: none !important;
}

.menu-cart {
    display: none !important;
}

.menu-account {
    display: none !important;
}
*/
.language-switcher-small {
    margin-bottom: 4px !important;
    margin-top: 8px !important;
}