@import "../colors";

.esf-posts-fb {
    a {
        color: $text;
        vertical-align: top;
        font-size: .9rem;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
}

.esf-item-fb {
    padding: 5px;


}

@media only screen and (min-width: 768px) {
    .esf-item-fb {
        max-width: calc(50% - 4px);
        display: inline-block;
    }
}
